<div class="loginContainer">
  <div class="row justify-content-md-start headerLogin">
      <div class="col-md-3">
          <div class=" marto25 marbo25 marle60">
              <img src="logo.png" alt="Logo" class="img-fluid">
          </div>
      </div>
  </div>
  <div class="container marto10p">
      <div class="row justify-content-md-center">
          <div class="col-md-4">
              <div class="center marbo25">
                  <h4>{{title}}</h4>
              </div>
              <div class="borderdContainer">
                  <input class="form-control marbo60" type="email" placeholder="Correo electrónico" [(ngModel)]="user.email" />
                  <input *ngIf="operacion == 'lider'" class="form-control marbo60" type="password" placeholder="Crear Contraseña"  [(ngModel)]="user.password">
                  <input *ngIf="operacion != 'lider'" class="form-control marbo60" type="password" placeholder="Contraseña"  [(ngModel)]="user.password">
                  <input *ngIf="operacion == 'register'" class="form-control marbo60" type="text" placeholder="Ingresa tu nombre"  [(ngModel)]="user.name">
                  <div *ngIf="operacion == 'lider'" class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="term" [(ngModel)]="terminos">
                    <label class="form-check-label" for="exampleCheck1">
                        Acepto <a href="https://www.google.com/search?q=libro&oq=libro&aqs=chrome..69i57j35i39j0l6.1308j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Términos y condiciones</a>
                    </label>
                  </div>
              </div>
              <div class="center marbo15 btnS">
                  <button *ngIf="operacion == 'login'" class="btn btn-primary btn-block" (click)="login()">Entrar</button>
                  <button *ngIf="operacion == 'register'" class="btn btn-primary btn-block" (click)="register()">Registrarme</button>
                  <button *ngIf="operacion == 'lider'" class="btn btn-primary btn-block" (click)="lider()" [attr.disabled]="!terminos ? 'disabled': null">Crear Cuenta</button>
              </div>
              <p *ngIf="operacion != 'login'" class="center option">¿Ya tienes cuenta? Haz <a (click)="operacionClick('login')">Login</a></p>
              <p *ngIf="operacion != 'register'" class="center option">¿No tienes cuenta? <a href="https://www.google.com/search?q=libro&oq=libro&aqs=chrome..69i57j35i39j0l6.1308j0j7&sourceid=chrome&ie=UTF-8">Regístrate</a></p>
              <p *ngIf="operacion != 'lider'" class="center option">¿Eres líder? <a (click)="operacionClick('lider')">Crear contraseña</a></p>
          </div>
      </div>
  </div>
  <div class="row justify-content-md-end">
      <div class="col-md-3">
          <div class="marbo25">
              <img src="mascot.jpg" alt="mascot" class="img-fluid">
          </div>
      </div>
  </div>
</div>
<notifier-container></notifier-container>
